*.ap_
*.apk
*.class
*.dex
*.iml
*.log
*/*.iml
*/build
.DS_Store
.gradle
.gradle/
.idea
.idea/
.idea/*
.navigation/
app/build
bin/
build/
captures/
gen/
local.properties
node_modules
node_modules/
out/
package.json
proguard/
*/obj
repack/*
.externalNativeBuild
class_dependency.txt
maindexlist.txt
